[submodule "layers/poky"]
	path = layers/poky
	url = git://git.yoctoproject.org/poky
	branch = kirkstone
[submodule "layers/meta-raspberrypi"]
	path = layers/meta-raspberrypi
	url = git@github.com:agherzan/meta-raspberrypi.git
	branch = kirkstone
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = git@github.com:openembedded/meta-openembedded.git
	branch = kirkstone
[submodule "layers/meta-hailo"]
	path = layers/meta-hailo
	url = https://github.com/hailo-ai/meta-hailo
	branch = kirkstone
[submodule "layers/meta-virtualization"]
	path = layers/meta-virtualization
	url = git://git.yoctoproject.org/meta-virtualization
	branch = kirkstone
